.generic-content-container {

	/*this goes against the BEM philosophy a bit
	because we are using descendent selectors*/

	p {

		font-weight: 300;

		/*microscopic size
		font size will default to 1rem*/

		line-height: 1.65;
		margin: 0 0 1.8rem 0;

		@mixin atSmall {
			font-size: 1.125rem;

		}
	}

	p a {
		font-weight: 700;
	}

}