.large-hero {
  position: relative;

  /*experiment: this pushed entire banner image down
  margin-top: 400px;*/

  &__text-content {
    position: absolute;

    /*experiment
    background-color: yellow;*/

    /* centering horizontally - this is fairly straightforward*/
    width: 100%;
    text-align: center;

    /*centering vertically a little more tricky - brad's way*/
    /* set top of block at half of image*/
    top: 50%;

    /* then raise block 1/2 the size of itself*/
    transform: translateY(-50%);
    left: 0;

  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 4.8rem;
    margin: 0;

  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2.9rem;
    margin: 0;

  }

  &__description {
    color: #fff;
    font-size: 1.875rem;
    font-weight: 100;
    /* gives the text that slight extra punch*/
    text-shadow: 2px 2px 0 rgba(0,0,0,.1);
    max-width: 30rem; /*this was calculated from 480px/16*/
    margin-left: auto;
    margin-right: auto;


  }
}
