.row {

	/*part of creating proper clearfix method*/
	@mixin clearfix;

	/*this is part of gutter fix*/
	&--gutters {
		margin-right: -65px;
	}

	/*this below is selecting descendant divs of .row--gutters
	which in this case is the &__4 and &__8 columns*/


	&--gutters > div{
		padding-right: 65px;
		/*without border box added the content
		within __8 would get pushed to the following line
		this is due to how browsers calculate width*/
		
	}

	@mixin atMedium {
		&__medium-4 {
		float: left;
		width: 33.33%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}
	}

	

	

}