.row {

	/*part of creating proper clearfix method*/
	@mixin clearfix;

	/*this is part of gutter fix*/
	&--gutters {
		margin-right: -65px;
	}

	&--gutters-large{
		margin-right: -100px;
	}

	/*this below is selecting descendant divs of .row--gutters
	which in this case is the &__4 and &__8 columns*/


	&--gutters > div{
		padding-right: 65px;
		/*without border box added the content
		within __8 would get pushed to the following line
		this is due to how browsers calculate width*/
		
	}

	&--gutters-large > div{
		padding-right: 100px;
	}







	&__b-margin-until-medium {
		margin-bottom: 1rem;

	}

	@mixin atMedium {


		&__b-margin-until-medium {
		margin-bottom: 0rem;
		}

		&__medium-4 {
		float: left;
		width: 33.33%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}

		/*below is overriding the column grid a bit: 
		tweaking size of jane doe image 
		and adjacent text content*/

		&__medium-4--larger {
			width: 37%;
		}

		&__medium-6 {

			float: left;
			width: 50%;
		}

		&__medium-8--smaller {
			width: 63%;
		}
	}

	

	

}